@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

html,
body {
  margin: 0;
  overflow-x: hidden !important;
  background: var(--background-color);
  color: var(--text);
  transition: background 0.5s linear;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Playfair Display', serif;
}
.primary {
  color: '#7d6167';
}
.secondary {
  color: '#e5dbd1';
}
.gray {
  color: '#e5dbd1';
}
.text_color {
  color: '#8e9092';
}
.contact_button {
  padding: 10px 15px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  cursor: pointer;
  pointer-events: all;
  z-index: 4;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.contact_button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--primary);
}
